body {
  background-color: black;
}
div {
  font-family: "Jaldi", sans-serif;
  font-size: 18px;
}
i {
  color: white;
  font-size: 23px;
  position: relative;
  left: 20px;
}
hr {
  height: 1px;
  background-color: rgb(96, 104, 122, 0.6);
  border: none;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
  display: inline-flex;
  object-fit: cover;
}
.form-control {
  margin-left: 15px;
}
.current-city {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
  padding-left: 0;
  margin: 0;
  text-transform: capitalize;
}

.fa-city {
  padding: 0px 5px;
}
.col {
  padding: 0;
}
.fa-tint {
  color: #138496;
  position: relative;
  top: 7px;
}
.humidities {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: 7px;
}
.Hum-Fri {
  text-align: center;
}
.source {
  text-align: right;
  margin-left: 130px;
}
#currentDay,
#currentHum {
  font-size: 17px;
  text-align: left;
  padding: 0px;
  margin: 0;
}

#windSpeed {
  font-size: 16px;
}
#currentTemperature {
  font-size: 26px;
  font-weight: bold;
}
#currIcon {
  position: relative;
  top: 30px;
  right: 50px;
}
